body {
	margin: 0;
	padding: 0;
	font-size: 16px;
}

#wrap {
	margin: 0 auto; width : 1200px;
	border: 1px solid #999;
	width: 1200px;
}

#top {
	width: 100%;
	border: 1px solid red;
	height: 60px;
	background: url(../image/top_back.jpg);
	background-repeat: repeat;
}

#mainContent {
	
}

#foot {
	
}
/*标题栏的ul格式*/
.menuul {
	margin-top: 10px;
	list-style: none;
	height: 50px;
	width: 100%;
}

.menuul>li {
	float: left;
	margin-left: 2px;
	padding-top: 20px;
	height: 30px;
}

.menuul>li>a {
	text-decoration: none;
	display: block;
	color: #fff;
	line-height: 30px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}
.menuul>li>a:hover {
	color:#f88fed;
}

.top-title-img {
	float:left;
	padding:0 10px;
	width: 60px;
	height: 60px;
}

.top-tip-text {
	color:#fff;
	margin-top:30px;
	font-weight: bold;
	font-size:18px;
	height:30px;
	float:left;
	line-height:30px;
	padding:0 20px;
}























