body {
	margin:0;
	padding: 0;
	font-family:楷体;
	font-size: 16px;
}

h1 {
	padding:5px;
	color:#F00;
	font-family:楷体;
	font-size:18px;
}

#wrap {
	margin: 0 auto; width : 1200px;
	border: 1px solid #999;
	width: 1200px;
}

#top {
	width: 100%;
	border: 1px solid #009;
	height: 60px;
	background: url(../image/top_back.jpg);
	background-repeat: repeat;
}

#mainContent {
	border:1px #999 solid;
}

.main-left {
	width:300px;
	border:1px #999 solid;
	float:left;
}

.main-left-top {
	height:50%;
	border:1px #999 solid;
}

.main-left-top>ol {
	font-size:12px;
}

a{
	color:#00C;
}

a:hover,a:link,a:active{
	color:#C36;
}


.main-left-top>ol>li>a, .main-left-bottom>ol>li>a {
	font-size:12px;
	display:block;
	margin-top:2px;
}



.main-right {
	width:900;
	border:1px #999 solid;
}



/*标题菜单的样式*/
.menuul {
	margin-top: 10px;
	list-style: none;
	height: 50px;
	width: 100%;
}

.menuul>li {
	float: left;
	margin-left: 2px;
	padding-top: 20px;
	height: 30px;
}

.menuul>li>a {
	text-decoration: none;
	display: block;
	color: #fff;
	line-height: 30px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}
.menuul>li>a:hover {
	color:#f88fed;
}

.top-title-img {
	float:left;
	padding:0 10px;
	width: 60px;
	height: 60px;
}

.hint-text {
    text-align:center;
    color:#999;
    font-weight: bolder;
}

.top-tip-text {
	color:#fff;
	margin-top:30px;
	font-weight: bold;
	font-size:18px;
	height:30px;
	float:left;
	line-height:30px;
	padding:0 20px;
}

#foot {
	border:1px #999 solid;
	clear:both;
    width:100%;
    height: 100px;
}

.foot-copyright {
	margin-top:80px;
	line-height:20px;
	text-align:center;
}