body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:693px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:90px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:177px;
  width:93px;
  height:90px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:37px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe 楷体 Std R Oblique', 'Adobe 楷体 Std R', 'Adobe 楷体 Std';
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FF3399;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:218px;
  width:96px;
  height:23px;
  font-family:'Adobe 楷体 Std R Oblique', 'Adobe 楷体 Std R', 'Adobe 楷体 Std';
  font-weight:400;
  font-style:oblique;
  font-size:28px;
  color:#FF3399;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-16px;
  width:92px;
  word-wrap:break-word;
}
#u36_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe 楷体 Std R', 'Adobe 楷体 Std';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:174px;
  width:201px;
  height:62px;
  font-family:'Adobe 楷体 Std R', 'Adobe 楷体 Std';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:201px;
  word-wrap:break-word;
}
#u38_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe 楷体 Std R', 'Adobe 楷体 Std';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:236px;
  width:314px;
  height:39px;
  font-family:'Adobe 楷体 Std R', 'Adobe 楷体 Std';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:314px;
  word-wrap:break-word;
}
#u40_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe 黑体 Std R Bold', 'Adobe 黑体 Std R', 'Adobe 黑体 Std';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:43px;
  width:192px;
  height:96px;
  font-family:'Adobe 黑体 Std R Bold', 'Adobe 黑体 Std R', 'Adobe 黑体 Std';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  white-space:nowrap;
}
