body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:762px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u43_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:35px;
  width:289px;
  height:55px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:292px;
  height:6px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:100px;
  width:289px;
  height:3px;
  font-size:48px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:285px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe 楷体 Std R Oblique', 'Adobe 楷体 Std R', 'Adobe 楷体 Std';
  font-weight:400;
  font-style:oblique;
  font-size:20px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:440px;
  width:45px;
  height:50px;
  font-family:'Adobe 楷体 Std R Oblique', 'Adobe 楷体 Std R', 'Adobe 楷体 Std';
  font-weight:400;
  font-style:oblique;
  font-size:20px;
}
#u48_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe 楷体 Std R Oblique', 'Adobe 楷体 Std R', 'Adobe 楷体 Std';
  font-weight:400;
  font-style:oblique;
  font-size:20px;
}
#u48.mouseOver {
}
#u49 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:5px;
  width:35px;
  white-space:nowrap;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:60px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:379px;
  width:75px;
  height:50px;
  font-family:'Adobe 楷体 Std R Bold', 'Adobe 楷体 Std R', 'Adobe 楷体 Std';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FF3399;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-11px;
  width:75px;
  white-space:nowrap;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:2px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:427px;
  width:709px;
  height:1px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:705px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u56_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe 楷体 Std R Oblique', 'Adobe 楷体 Std R', 'Adobe 楷体 Std';
  font-weight:400;
  font-style:oblique;
  font-size:20px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:200px;
  width:61px;
  height:50px;
  font-family:'Adobe 楷体 Std R Oblique', 'Adobe 楷体 Std R', 'Adobe 楷体 Std';
  font-weight:400;
  font-style:oblique;
  font-size:20px;
}
#u56_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe 楷体 Std R Oblique', 'Adobe 楷体 Std R', 'Adobe 楷体 Std';
  font-weight:400;
  font-style:oblique;
  font-size:20px;
}
#u56.mouseOver {
}
#u57 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:5px;
  width:51px;
  white-space:nowrap;
}
#u58_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe 楷体 Std R Oblique', 'Adobe 楷体 Std R', 'Adobe 楷体 Std';
  font-weight:400;
  font-style:oblique;
  font-size:20px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:200px;
  width:69px;
  height:50px;
  font-family:'Adobe 楷体 Std R Oblique', 'Adobe 楷体 Std R', 'Adobe 楷体 Std';
  font-weight:400;
  font-style:oblique;
  font-size:20px;
}
#u58_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe 楷体 Std R Oblique', 'Adobe 楷体 Std R', 'Adobe 楷体 Std';
  font-weight:400;
  font-style:oblique;
  font-size:20px;
}
#u58.mouseOver {
}
#u59 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:5px;
  width:59px;
  white-space:nowrap;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:58px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:142px;
  width:75px;
  height:48px;
  font-family:'Adobe 楷体 Std R Bold', 'Adobe 楷体 Std R', 'Adobe 楷体 Std';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FF3399;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-12px;
  width:75px;
  white-space:nowrap;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:2px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:188px;
  width:709px;
  height:1px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:705px;
  visibility:hidden;
  word-wrap:break-word;
}
